Node-Red-Flows/sensor_monitor_flow-1.json
[
    {
        "id": "mqtt-data-in",
        "type": "mqtt in",
        "z": "e173976e51757a59",
        "name": "Sensor Data from ESP32",
        "topic": "factory/machine01/dht",
        "qos": "1",
        "datatype": "json",
        "broker": "hivemq-broker",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 150,
        "y": 200,
        "wires": [
            [
                "parse-sensor",
                "debug-raw"
            ]
        ]
    },
    {
        "id": "debug-raw",
        "type": "debug",
        "z": "e173976e51757a59",
        "name": "Raw MQTT Data",
        "active": true,
        "tosidebar": true,
        "statusVal": "",
        "statusType": "auto",
        "x": 450,
        "y": 160,
        "wires": []
    },
    {
        "id": "parse-sensor",
        "type": "function",
        "z": "e173976e51757a59",
        "name": "Parse Sensor + Route to Blynk",
        "func": "const data = msg.payload;\n\nconst temp = data.temperature ?? data.temp ?? null;\nconst hum  = data.humidity    ?? data.hum  ?? null;\n\nif (temp === null || hum === null) {\n  node.warn('Missing temperature or humidity: ' + JSON.stringify(data));\n  return null;\n}\n\nnode.warn('Temp: ' + temp + ' | Hum: ' + hum);\n\nconst tempMsg = { payload: temp, pin: 'V0' };\nconst humMsg  = { payload: hum,  pin: 'V1' };\n\n// ── Temp alert ──────────────────────────────────────────\nlet alertMsg = null;\nif (temp > 35) {\n  alertMsg = {\n    payload: {\n      chatId: global.get('telegramChatId') || '8633869336',\n      type: 'message',\n      content: '⚠️ High Temp Alert: ' + temp + '°C'\n    }\n  };\n}\n\n// ── Humidity alert ──────────────────────────────────────\nlet humAlertMsg = null;\nif (hum > 70) {\n  humAlertMsg = {\n    payload: {\n      chatId: global.get('telegramChatId') || '8633869336',\n      type: 'message',\n      content: '💧 High Humidity Alert: ' + hum + '%'\n    }\n  };\n}\n\nreturn [tempMsg, humMsg, alertMsg, humAlertMsg];\n\n\n\n\n\n// const data = msg.payload;\n\n// // Adjust keys to match your ESP32 JSON keys\n// const temp = data.temperature ?? data.temp ?? null;\n// const hum  = data.humidity    ?? data.hum  ?? null;\n\n// if (temp === null || hum === null) {\n//   node.warn('Missing temperature or humidity: ' + JSON.stringify(data));\n//   return null;\n// }\n\n// node.warn('Temp: ' + temp + ' | Hum: ' + hum);\n\n// // Output 1: temperature → Blynk V0\n// // Output 2: humidity    → Blynk V1\n// // Output 3: Telegram alert if temp > 35\n// const tempMsg = { payload: temp,  pin: 'V0' };\n// const humMsg  = { payload: hum,   pin: 'V1' };\n\n// let alertMsg = null;\n// if (temp > 35) {\n//   alertMsg = {\n//     payload: {\n//       chatId: global.get('telegramChatId') || '8633869336',\n//       type: 'message',\n//       content: '⚠️ High Temp Alert: ' + temp + '°C'\n//     }\n//   };\n// }\n\n// return [tempMsg, humMsg, alertMsg];",
        "outputs": 4,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 450,
        "y": 260,
        "wires": [
            [
                "blynk-temp",
                "debug-temp"
            ],
            [
                "blynk-hum",
                "debug-hum"
            ],
            [
                "tg-alert"
            ],
            [
                "tg-alert"
            ]
        ]
    },
    {
        "id": "blynk-temp",
        "type": "http request",
        "z": "e173976e51757a59",
        "name": "Blynk → V0 (Temperature)",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "https://blynk.cloud/external/api/update?token=xJB25oRTR32wQoRv2zId-SRmVJkSduLs&V0={{{payload}}}",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 760,
        "y": 120,
        "wires": [
            [
                "debug-blynk-temp"
            ]
        ]
    },
    {
        "id": "debug-blynk-temp",
        "type": "debug",
        "z": "e173976e51757a59",
        "name": "Blynk Temp Response",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1030,
        "y": 120,
        "wires": []
    },
    {
        "id": "blynk-hum",
        "type": "http request",
        "z": "e173976e51757a59",
        "name": "Blynk → V1 (Humidity)",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "https://blynk.cloud/external/api/update?token=xJB25oRTR32wQoRv2zId-SRmVJkSduLs&V1={{{payload}}}",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 760,
        "y": 260,
        "wires": [
            [
                "debug-blynk-hum"
            ]
        ]
    },
    {
        "id": "debug-blynk-hum",
        "type": "debug",
        "z": "e173976e51757a59",
        "name": "Blynk Hum Response",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1050,
        "y": 260,
        "wires": []
    },
    {
        "id": "debug-temp",
        "type": "debug",
        "z": "e173976e51757a59",
        "name": "Temp Value",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": false,
        "complete": "payload.temp",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 800,
        "y": 180,
        "wires": []
    },
    {
        "id": "debug-hum",
        "type": "debug",
        "z": "e173976e51757a59",
        "name": "Hum Value",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": false,
        "complete": "payload.hum",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 790,
        "y": 340,
        "wires": []
    },
    {
        "id": "tg-alert",
        "type": "telegram sender",
        "z": "e173976e51757a59",
        "name": "Temp/Hum Alert to Telegram",
        "bot": "4b9ac35be0c2b828",
        "haserroroutput": false,
        "outputs": 1,
        "x": 760,
        "y": 420,
        "wires": [
            []
        ]
    },
    {
        "id": "hivemq-broker",
        "type": "mqtt-broker",
        "name": "HiveMQ Public",
        "broker": "broker.hivemq.com",
        "port": "1883",
        "tls": false
    },
    {
        "id": "4b9ac35be0c2b828",
        "type": "telegram bot",
        "botname": "Factory Monitor Bot",
        "usernames": "",
        "chatids": "",
        "baseapiurl": "",
        "testenvironment": false,
        "updatemode": "polling",
        "pollinterval": 300,
        "usesocks": false,
        "sockshost": "",
        "socksprotocol": "socks5",
        "socksport": 6667,
        "socksusername": "anonymous",
        "sockspassword": "",
        "bothost": "",
        "botpath": "",
        "localbothost": "0.0.0.0",
        "localbotport": 8443,
        "publicbotport": 8443,
        "privatekey": "",
        "certificate": "",
        "useselfsignedcertificate": false,
        "sslterminated": false,
        "verboselogging": false
    },
    {
        "id": "a56b031f35f58ae2",
        "type": "global-config",
        "env": [],
        "modules": {
            "node-red-contrib-telegrambot": "17.1.3"
        }
    }
]