Node-Red-Flows/sensor_monitor_flow-1.json
[
    {
        "id": "41f74680af7fb4f2",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "2d4cdd8b4cd369b9",
        "type": "mqtt in",
        "z": "41f74680af7fb4f2",
        "name": "Sensor Data from ESP32",
        "topic": "<Add your topic>",
        "qos": "1",
        "datatype": "json",
        "broker": "hivemq-broker",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 150,
        "y": 200,
        "wires": [
            [
                "223a548b07138e64",
                "116638677673641b"
            ]
        ]
    },
    {
        "id": "116638677673641b",
        "type": "debug",
        "z": "41f74680af7fb4f2",
        "name": "Raw MQTT Data",
        "active": true,
        "tosidebar": true,
        "statusVal": "",
        "statusType": "auto",
        "x": 450,
        "y": 160,
        "wires": []
    },
    {
        "id": "223a548b07138e64",
        "type": "function",
        "z": "41f74680af7fb4f2",
        "name": "Parse Sensor + Route to Blynk",
        "func": "const data = msg.payload;\n\nconst temp = data.temperature ?? data.temp ?? null;\nconst hum  = data.humidity    ?? data.hum  ?? null;\n\nif (temp === null || hum === null) {\n  node.warn('Missing temperature or humidity: ' + JSON.stringify(data));\n  return null;\n}\n\nnode.warn('Temp: ' + temp + ' | Hum: ' + hum);\n\nconst tempMsg = { payload: temp, pin: 'V0' };\nconst humMsg  = { payload: hum,  pin: 'V1' };\n\n// ── Temp alert ──────────────────────────────────────────\nlet alertMsg = null;\nif (temp > 35) {\n  alertMsg = {\n    payload: {\n      chatId: global.get('telegramChatId') || '8633869336',\n      type: 'message',\n      content: '⚠️ High Temp Alert: ' + temp + '°C'\n    }\n  };\n}\n\n// ── Humidity alert ──────────────────────────────────────\n//TODO: Add humidity alerting with threshold definition (>70) \n\n return [tempMsg, humMsg, alertMsg] //Add humidity message in return\n // Also change output value in setup tab to 4 once humidity changes are added.",
        "outputs": 3,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 450,
        "y": 260,
        "wires": [
            [
                "69eb7f7c7bdf39a1",
                "21103587385153ac"
            ],
            [
                "e11496537c5a096c",
                "6473270f59c6952c"
            ],
            [
                "c9eae19059d57e2c"
            ]
        ]
    },
    {
        "id": "69eb7f7c7bdf39a1",
        "type": "http request",
        "z": "41f74680af7fb4f2",
        "name": "Blynk → V0 (Temperature)",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "https://blynk.cloud/external/api/update?token=YOUR_TOKEN&V0={{{payload}}}",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 760,
        "y": 120,
        "wires": [
            [
                "dc039efd3e214b57"
            ]
        ]
    },
    {
        "id": "dc039efd3e214b57",
        "type": "debug",
        "z": "41f74680af7fb4f2",
        "name": "Blynk Temp Response",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1030,
        "y": 120,
        "wires": []
    },
    {
        "id": "e11496537c5a096c",
        "type": "http request",
        "z": "41f74680af7fb4f2",
        "name": "Blynk → V1 (Humidity)",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "https://blynk.cloud/external/api/update?token=YOUR_TOKEN&V1={{{payload}}}",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 760,
        "y": 260,
        "wires": [
            [
                "3645d38bbcd3b5b6"
            ]
        ]
    },
    {
        "id": "3645d38bbcd3b5b6",
        "type": "debug",
        "z": "41f74680af7fb4f2",
        "name": "Blynk Hum Response",
        "active": true,
        "tosidebar": true,
        "x": 1040,
        "y": 260,
        "wires": []
    },
    {
        "id": "21103587385153ac",
        "type": "debug",
        "z": "41f74680af7fb4f2",
        "name": "Temp Value",
        "active": true,
        "tosidebar": true,
        "statusVal": "",
        "statusType": "auto",
        "x": 870,
        "y": 180,
        "wires": []
    },
    {
        "id": "6473270f59c6952c",
        "type": "debug",
        "z": "41f74680af7fb4f2",
        "name": "Hum Value",
        "active": true,
        "tosidebar": true,
        "x": 890,
        "y": 320,
        "wires": []
    },
    {
        "id": "c9eae19059d57e2c",
        "type": "telegram sender",
        "z": "41f74680af7fb4f2",
        "name": "Temp/Hum Alert to Telegram",
        "bot": "",
        "haserroroutput": false,
        "outputs": 1,
        "x": 860,
        "y": 400,
        "wires": [
            []
        ]
    },
    {
        "id": "hivemq-broker",
        "type": "mqtt-broker",
        "name": "HiveMQ Public",
        "broker": "broker.hivemq.com",
        "port": "1883",
        "tls": false
    },
    {
        "id": "55b8dda4ae94687b",
        "type": "global-config",
        "env": [],
        "modules": {
            "node-red-contrib-telegrambot": "17.1.3"
        }
    }
]
